@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4" style="color: #7CB9E8; font-weight: bold;">Student / School Management</h1>
    <img src="~/images/image.jpg" alt="School Management" class="img-fluid" style="max-width: 100%; height: auto;" />
</div>
